# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

baltimore = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
new_york = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
philadelphia = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

In [2]:
baltimore.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [3]:
boston.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [4]:
new_york.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [5]:
philadelphia.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,PHILADELPHIA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/16/2017,140,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,140,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [6]:
# Clean your data here!
for col in baltimore.columns:
    pct_missing = np.mean(baltimore[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [7]:
baltimore_new = baltimore.drop(['Commodity Name','Type', 'Grade', 'Origin District', 'Environment','Quality', 'Condition', 'Appearance', 'Storage', 'Crop','Trans Mode'], axis=1)
print(baltimore_new)
# df2 = df2.drop('UnwantedColumn', axis=1)
# df3 = df3.drop('UnwantedColumn', axis=1)

     City Name             Package      Variety Sub Variety        Date  \
0    BALTIMORE        24 inch bins          NaN         NaN  04/29/2017
1    BALTIMORE        24 inch bins          NaN         NaN  05/06/2017
2    BALTIMORE        24 inch bins  HOWDEN TYPE         NaN  09/24/2016
3    BALTIMORE        24 inch bins  HOWDEN TYPE         NaN  09/24/2016
4    BALTIMORE        24 inch bins  HOWDEN TYPE         NaN  11/05/2016
..         ...                 ...          ...         ...         ...
148  BALTIMORE  1/2 bushel cartons    MINIATURE         NaN  09/30/2017
149  BALTIMORE  1/2 bushel cartons    MINIATURE         NaN  09/30/2017
150  BALTIMORE  1/2 bushel cartons    MINIATURE  ROUND TYPE  09/24/2016
151  BALTIMORE  1/2 bushel cartons    MINIATURE  ROUND TYPE  10/01/2016
152  BALTIMORE  1/2 bushel cartons    MINIATURE  ROUND TYPE  10/08/2016

     Low Price  High Price  Mostly Low  Mostly High        Origin Item Size  \
0          270       280.0         270        280.0           NaN       lge
1          270       280.0         270        280.0           NaN       lge
2          160       160.0         160        160.0      DELAWARE       med
3          160       160.0         160        160.0      VIRGINIA       med
4           90       100.0          90        100.0      MARYLAND       lge
..         ...         ...         ...          ...           ...       ...
148         18        18.0          18         18.0      MARYLAND       NaN
149         18        18.0          18         18.0  PENNSYLVANIA       NaN
150         15        15.0          15         15.0      MARYLAND       sml
151         15        15.0          15         15.0      MARYLAND       sml
152         15        15.0          15         15.0      MARYLAND       sml

      Color Unit of Sale Repack
0       NaN          NaN      E
1       NaN          NaN      E
2       NaN          NaN      N
3       NaN          NaN      N
4       NaN          NaN      N
..      ...          ...    ...
148  ORANGE          NaN      N
149  ORANGE          NaN      N
150     NaN          NaN      N
151     NaN          NaN      N
152     NaN          NaN      N

[153 rows x 14 columns]

In [ ]:
baltimore.columns

In [ ]:
baltimore_groups = baltimore.groupby(['Commodity Name', 'City Name', 'Package', 'Variety',
       'Sub Variety', 'Origin', 'Item Size', 'Color', 'Repack']).count()
print(baltimore_groups)

In [ ]:
# Clean your data here!
for col in boston.columns:
    pct_missing = np.mean(data[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

In [ ]:
duplicates_bo = boston.duplicated(subset='Commodity Name')
print(duplicates_bo)

In [10]:
boston_new = boston.drop(['Commodity Name','Type', 'Grade', 'Origin District', 'Environment','Quality', 'Condition', 'Appearance', 'Storage', 'Crop','Trans Mode'], axis=1)
print(boston_new)

    City Name             Package      Variety Sub Variety        Date  \
0      BOSTON        36 inch bins  HOWDEN TYPE         NaN  09/24/2016
1      BOSTON        36 inch bins  HOWDEN TYPE         NaN  09/24/2016
2      BOSTON        36 inch bins  HOWDEN TYPE         NaN  09/24/2016
3      BOSTON        36 inch bins  HOWDEN TYPE         NaN  09/24/2016
4      BOSTON        36 inch bins  HOWDEN TYPE         NaN  09/24/2016
..        ...                 ...          ...         ...         ...
347    BOSTON  1/2 bushel cartons    MINIATURE  ROUND TYPE  10/22/2016
348    BOSTON  1/2 bushel cartons    MINIATURE  ROUND TYPE  10/29/2016
349    BOSTON  1/2 bushel cartons    MINIATURE  ROUND TYPE  10/29/2016
350    BOSTON  1/2 bushel cartons    MINIATURE  ROUND TYPE  11/05/2016
351    BOSTON  1/2 bushel cartons    MINIATURE  ROUND TYPE  11/05/2016

     Low Price  High Price  Mostly Low  Mostly High         Origin Item Size  \
0          160         200         165          165         CANADA     exjbo
1          160         200         165          165         CANADA       jbo
2          160         200         165          165         CANADA      xlge
3          160         200         165          165         CANADA      xlge
4          160         180         165          165         CANADA       lge
..         ...         ...         ...          ...            ...       ...
347         15          18          15           15  MASSACHUSETTS       sml
348         15          18          15           15  MASSACHUSETTS       sml
349         15          18          15           15  MASSACHUSETTS       sml
350         15          18          15           15  MASSACHUSETTS       sml
351         15          18          15           15  MASSACHUSETTS       sml

      Color Unit of Sale Repack
0    ORANGE          NaN      N
1    ORANGE          NaN      N
2    ORANGE          NaN      N
3    ORANGE          NaN      N
4    ORANGE          NaN      N
..      ...          ...    ...
347  ORANGE          NaN      N
348   WHITE          NaN      N
349  ORANGE          NaN      N
350   WHITE          NaN      N
351  ORANGE          NaN      N

[352 rows x 14 columns]

In [ ]:
boston_groups = boston.groupby(['Commodity Name', 'City Name', 'Package', 'Variety',
       'Sub Variety', 'Origin', 'Item Size', 'Color', 'Repack']).count()
print(boston_groups)

In [11]:
# Clean your data here!
for col in new_york.columns:
    pct_missing = np.mean(new_york[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [ ]:
duplicates_ny = new_york.duplicated(subset='Commodity Name')
print(duplicates_ny)

In [12]:
newyork_groups = new_york.groupby(['Commodity Name', 'City Name', 'Package', 'Variety',
       'Sub Variety', 'Origin', 'Item Size', 'Color', 'Repack']).count()
print(newyork_groups)

                                                                                                 Type  \
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N          0

                                                                                                 Grade  \
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N           0

                                                                                                 Date  \
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N          7

                                                                                                 Low Price  \
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N               7

                                                                                                 High Price  \
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N                7

                                                                                                 Mostly Low  \
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N                7

                                                                                                 Mostly High  \
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N                 7

                                                                                                 Origin District  \
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N                     0

                                                                                                 Environment  \
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N                 0

                                                                                                 Unit of Sale  \
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N                  0

                                                                                                 Quality  \
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N             0

                                                                                                 Condition  \
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N               0

                                                                                                 Appearance  \
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N                0

                                                                                                 Storage  \
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N             0

                                                                                                 Crop  \
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N          0

                                                                                                 Trans Mode
Commodity Name City Name Package            Variety   Sub Variety Origin Item Size Color Repack
PUMPKINS       NEW YORK  1/2 bushel cartons MINIATURE FLAT TYPE   OHIO   sml       WHITE N                0

In [18]:
newyork_new = new_york.drop(['Commodity Name','Type', 'Grade', 'Origin District', 'Environment','Quality', 'Condition', 'Appearance', 'Storage', 'Crop','Trans Mode'], axis=1)
print(newyork_new)

    City Name              Package      Variety Sub Variety        Date  \
0    NEW YORK         36 inch bins  HOWDEN TYPE         NaN  09/24/2016
1    NEW YORK         36 inch bins  HOWDEN TYPE         NaN  09/24/2016
2    NEW YORK         36 inch bins  HOWDEN TYPE         NaN  09/24/2016
3    NEW YORK         36 inch bins  HOWDEN TYPE         NaN  09/24/2016
4    NEW YORK         36 inch bins  HOWDEN TYPE         NaN  09/24/2016
..        ...                  ...          ...         ...         ...
107  NEW YORK       bushel cartons    MINIATURE         NaN  09/09/2017
108  NEW YORK  1 1/9 bushel crates    MINIATURE  ROUND TYPE  10/08/2016
109  NEW YORK  1 1/9 bushel crates    MINIATURE  ROUND TYPE  10/08/2016
110  NEW YORK  1 1/9 bushel crates    MINIATURE  ROUND TYPE  10/15/2016
111  NEW YORK  1 1/9 bushel crates    MINIATURE  ROUND TYPE  10/15/2016

     Low Price  High Price  Mostly Low  Mostly High      Origin Item Size  \
0          150         170         150          170    MICHIGAN      xlge
1          150         170         150          170    MICHIGAN       lge
2          130         150         130          150  NEW JERSEY      xlge
3          130         150         130          150  NEW JERSEY       lge
4          120         140         120          140    NEW YORK   med-lge
..         ...         ...         ...          ...         ...       ...
107         32          32          32           32        OHIO       sml
108         18          18          18           18    NEW YORK       med
109         18          18          18           18    NEW YORK       sml
110         18          18          18           18    NEW YORK       med
111         18          18          18           18    NEW YORK       sml

    Color Unit of Sale Repack
0     NaN          NaN      N
1     NaN          NaN      N
2     NaN          NaN      N
3     NaN          NaN      N
4     NaN          NaN      N
..    ...          ...    ...
107   NaN          NaN      N
108   NaN          NaN      N
109   NaN          NaN      N
110   NaN          NaN      N
111   NaN          NaN      N

[112 rows x 14 columns]

In [13]:
# Clean your data here!
for col in philadelphia.columns:
    pct_missing = np.mean(philadelphia[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 79%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [14]:
duplicates_p = philadelphia.duplicated(subset='Commodity Name')
print(duplicates_p)

0     False
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
45     True
46     True
47     True
48     True
49     True
50     True
51     True
52     True
53     True
54     True
55     True
56     True
dtype: bool

In [15]:
philadelphia_groups = philadelphia.groupby(['Commodity Name', 'City Name', 'Package', 'Variety',
       'Sub Variety', 'Origin', 'Item Size', 'Color', 'Repack']).count()
print(philadelphia_groups)

Empty DataFrame
Columns: [Type, Grade, Date, Low Price, High Price, Mostly Low, Mostly High, Origin District, Environment, Unit of Sale, Quality, Condition, Appearance, Storage, Crop, Trans Mode]
Index: []

In [16]:
philadelphia_new = philadelphia.drop(['Commodity Name','Type', 'Grade', 'Origin District', 'Environment','Quality', 'Condition', 'Appearance', 'Storage', 'Crop','Trans Mode'], axis=1)
print(philadelphia_new)

       City Name               Package       Variety Sub Variety        Date  \
0   PHILADELPHIA          24 inch bins   HOWDEN TYPE         NaN  09/16/2017
1   PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  09/24/2016
2   PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  09/24/2016
3   PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  09/24/2016
4   PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  10/01/2016
5   PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  10/01/2016
6   PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  10/01/2016
7   PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  10/08/2016
8   PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  10/08/2016
9   PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  10/15/2016
10  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  10/15/2016
11  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  10/22/2016
12  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  10/22/2016
13  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  10/22/2016
14  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  10/22/2016
15  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  10/29/2016
16  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  10/29/2016
17  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  10/29/2016
18  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  10/29/2016
19  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  09/16/2017
20  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  09/16/2017
21  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  09/23/2017
22  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  09/23/2017
23  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  09/23/2017
24  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  09/23/2017
25  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  09/23/2017
26  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  09/30/2017
27  PHILADELPHIA          36 inch bins   HOWDEN TYPE         NaN  09/30/2017
28  PHILADELPHIA  1 1/9 bushel cartons      PIE TYPE         NaN  10/15/2016
29  PHILADELPHIA  1 1/9 bushel cartons      PIE TYPE         NaN  10/22/2016
30  PHILADELPHIA  1 1/9 bushel cartons      PIE TYPE         NaN  10/29/2016
31  PHILADELPHIA  1 1/9 bushel cartons      PIE TYPE         NaN  08/26/2017
32  PHILADELPHIA  1 1/9 bushel cartons      PIE TYPE         NaN  09/16/2017
33  PHILADELPHIA  1 1/9 bushel cartons      PIE TYPE         NaN  09/23/2017
34  PHILADELPHIA          24 inch bins      PIE TYPE         NaN  10/01/2016
35  PHILADELPHIA          24 inch bins      PIE TYPE         NaN  10/15/2016
36  PHILADELPHIA          24 inch bins      PIE TYPE         NaN  10/22/2016
37  PHILADELPHIA          24 inch bins      PIE TYPE         NaN  10/22/2016
38  PHILADELPHIA          24 inch bins      PIE TYPE         NaN  10/29/2016
39  PHILADELPHIA          24 inch bins      PIE TYPE         NaN  10/29/2016
40  PHILADELPHIA          24 inch bins      PIE TYPE         NaN  09/23/2017
41  PHILADELPHIA          24 inch bins      PIE TYPE         NaN  09/23/2017
42  PHILADELPHIA          24 inch bins      PIE TYPE         NaN  09/23/2017
43  PHILADELPHIA          24 inch bins      PIE TYPE         NaN  09/30/2017
44  PHILADELPHIA          24 inch bins  KNUCKLE HEAD         NaN  10/08/2016
45  PHILADELPHIA    1/2 bushel cartons     MINIATURE   FLAT TYPE  09/24/2016
46  PHILADELPHIA    1/2 bushel cartons     MINIATURE   FLAT TYPE  10/01/2016
47  PHILADELPHIA    1/2 bushel cartons     MINIATURE   FLAT TYPE  10/01/2016
48  PHILADELPHIA    1/2 bushel cartons     MINIATURE   FLAT TYPE  10/08/2016
49  PHILADELPHIA    1/2 bushel cartons     MINIATURE   FLAT TYPE  10/15/2016
50  PHILADELPHIA    1/2 bushel cartons     MINIATURE   FLAT TYPE  10/22/2016
51  PHILADELPHIA    1/2 bushel cartons     MINIATURE   FLAT TYPE  10/29/2016
52  PHILADELPHIA    1/2 bushel cartons     MINIATURE   FLAT TYPE  11/05/2016
53  PHILADELPHIA    1/2 bushel cartons     MINIATURE   FLAT TYPE  08/26/2017
54  PHILADELPHIA    1/2 bushel cartons     MINIATURE   FLAT TYPE  09/16/2017
55  PHILADELPHIA    1/2 bushel cartons     MINIATURE   FLAT TYPE  09/23/2017
56  PHILADELPHIA    1/2 bushel cartons     MINIATURE   FLAT TYPE  09/30/2017

    Low Price  High Price  Mostly Low  Mostly High        Origin Item Size  \
0         140         150         140          150  PENNSYLVANIA       lge
1         150         150         150          150      NEW YORK   med-lge
2         150         150         150          150      NEW YORK       med
3         150         160         150          160  PENNSYLVANIA       lge
4         140         140         140          140    NEW JERSEY   med-lge
5         140         140         140          140  PENNSYLVANIA   med-lge
6         120         120         120          120  PENNSYLVANIA       med
7         140         155         140          155    NEW JERSEY       med
8         120         120         120          120    NEW JERSEY       sml
9         120         125         120          125  PENNSYLVANIA       lge
10        100         125         100          125  PENNSYLVANIA       med
11        130         140         130          140    NEW JERSEY   med-lge
12        120         120         120          120  PENNSYLVANIA       lge
13        130         140         130          140  PENNSYLVANIA   med-lge
14        100         120         100          120  PENNSYLVANIA       med
15        130         140         130          140    NEW JERSEY   med-lge
16        120         120         120          120  PENNSYLVANIA       lge
17        130         140         130          140  PENNSYLVANIA   med-lge
18        100         120         120          120  PENNSYLVANIA       med
19        120         120         120          120  PENNSYLVANIA       lge
20        120         150         120          150  PENNSYLVANIA       med
21        140         140         140          140      DELAWARE       lge
22        150         150         150          150      DELAWARE       med
23        120         150         120          150      NEW YORK       lge
24        140         150         140          150  PENNSYLVANIA      xlge
25        140         150         140          150  PENNSYLVANIA       lge
26        140         140         140          140      DELAWARE       lge
27        140         140         140          140      DELAWARE       med
28         12          14          12           14          OHIO       med
29         12          12          12           12          OHIO       med
30         12          12          12           12          OHIO       med
31         18          20          18           20      MICHIGAN       med
32         18          18          18           18          OHIO       med
33         18          22          18           22          OHIO       med
34        250         250         250          250  PENNSYLVANIA       med
35        140         140         140          140  PENNSYLVANIA       med
36        140         150         140          150  PENNSYLVANIA       med
37         75         100          75          100  PENNSYLVANIA       sml
38        140         150         140          150  PENNSYLVANIA       med
39         75         100          75          100  PENNSYLVANIA       sml
40        180         180         180          180      DELAWARE       med
41        140         140         140          140      DELAWARE       sml
42        180         180         180          180      NEW YORK       med
43        140         140         140          140      DELAWARE       sml
44        210         210         210          210    NEW JERSEY       med
45         17          18          17           18          OHIO       NaN
46         18          18          18           18    NEW JERSEY       NaN
47         17          18          17           18          OHIO       NaN
48         15          15          15           15          OHIO       NaN
49         15          18          15           18          OHIO       NaN
50         16          18          16           18          OHIO       NaN
51         16          18          16           18          OHIO       NaN
52         16          18          16           18          OHIO       NaN
53         18          20          18           20      MICHIGAN       NaN
54         16          16          16           16          OHIO       NaN
55         15          16          15           16          OHIO       NaN
56         15          18          15           18          OHIO       NaN

    Color Unit of Sale Repack
0     NaN          NaN      N
1     NaN          NaN      N
2     NaN          NaN      N
3     NaN          NaN      N
4     NaN          NaN      N
5     NaN          NaN      N
6     NaN          NaN      N
7     NaN          NaN      N
8     NaN          NaN      N
9     NaN          NaN      N
10    NaN          NaN      N
11    NaN          NaN      N
12    NaN          NaN      N
13    NaN          NaN      N
14    NaN          NaN      N
15    NaN          NaN      N
16    NaN          NaN      N
17    NaN          NaN      N
18    NaN          NaN      N
19    NaN          NaN      N
20    NaN          NaN      N
21    NaN          NaN      N
22    NaN          NaN      N
23    NaN          NaN      N
24    NaN          NaN      N
25    NaN          NaN      N
26    NaN          NaN      N
27    NaN          NaN      N
28    NaN          NaN      N
29    NaN          NaN      N
30    NaN          NaN      N
31    NaN          NaN      N
32    NaN          NaN      N
33    NaN          NaN      N
34    NaN          NaN      N
35    NaN          NaN      N
36    NaN          NaN      N
37    NaN          NaN      N
38    NaN          NaN      N
39    NaN          NaN      N
40    NaN          NaN      N
41    NaN          NaN      N
42    NaN          NaN      N
43    NaN          NaN      N
44    NaN          NaN      N
45    NaN   SHELLACKED      N
46    NaN          NaN      N
47    NaN   SHELLACKED      N
48    NaN   SHELLACKED      N
49    NaN   SHELLACKED      N
50    NaN   SHELLACKED      N
51    NaN   SHELLACKED      N
52    NaN   SHELLACKED      N
53    NaN   SHELLACKED      N
54    NaN   SHELLACKED      N
55    NaN   SHELLACKED      N
56    NaN   SHELLACKED      N

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [19]:
# Combine the four dataframes into one!
northeast = pd.concat([baltimore_new, boston_new, newyork_new, philadelphia_new], axis=0)
print(northeast)

       City Name             Package      Variety Sub Variety        Date  \
0      BALTIMORE        24 inch bins          NaN         NaN  04/29/2017
1      BALTIMORE        24 inch bins          NaN         NaN  05/06/2017
2      BALTIMORE        24 inch bins  HOWDEN TYPE         NaN  09/24/2016
3      BALTIMORE        24 inch bins  HOWDEN TYPE         NaN  09/24/2016
4      BALTIMORE        24 inch bins  HOWDEN TYPE         NaN  11/05/2016
..           ...                 ...          ...         ...         ...
52  PHILADELPHIA  1/2 bushel cartons    MINIATURE   FLAT TYPE  11/05/2016
53  PHILADELPHIA  1/2 bushel cartons    MINIATURE   FLAT TYPE  08/26/2017
54  PHILADELPHIA  1/2 bushel cartons    MINIATURE   FLAT TYPE  09/16/2017
55  PHILADELPHIA  1/2 bushel cartons    MINIATURE   FLAT TYPE  09/23/2017
56  PHILADELPHIA  1/2 bushel cartons    MINIATURE   FLAT TYPE  09/30/2017

    Low Price  High Price  Mostly Low  Mostly High    Origin Item Size Color  \
0         270       280.0         270        280.0       NaN       lge   NaN
1         270       280.0         270        280.0       NaN       lge   NaN
2         160       160.0         160        160.0  DELAWARE       med   NaN
3         160       160.0         160        160.0  VIRGINIA       med   NaN
4          90       100.0          90        100.0  MARYLAND       lge   NaN
..        ...         ...         ...          ...       ...       ...   ...
52         16        18.0          16         18.0      OHIO       NaN   NaN
53         18        20.0          18         20.0  MICHIGAN       NaN   NaN
54         16        16.0          16         16.0      OHIO       NaN   NaN
55         15        16.0          15         16.0      OHIO       NaN   NaN
56         15        18.0          15         18.0      OHIO       NaN   NaN

   Unit of Sale Repack
0           NaN      E
1           NaN      E
2           NaN      N
3           NaN      N
4           NaN      N
..          ...    ...
52   SHELLACKED      N
53   SHELLACKED      N
54   SHELLACKED      N
55   SHELLACKED      N
56   SHELLACKED      N

[674 rows x 14 columns]

In [34]:
northeast.columns

Index(['City Name', 'Package', 'Variety', 'Sub Variety', 'Date', 'Low Price',
       'High Price', 'Mostly Low', 'Mostly High', 'Origin', 'Item Size',
       'Color', 'Unit of Sale', 'Repack'],
      dtype='object')

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets? (edited in studio based on IA instructions)

In [30]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
northeast_combo = northeast.groupby('Unit of Sale').agg({'Low Price': 'mean', 'High Price': 'mean'})
print(northeast_combo)

               Low Price  High Price
Unit of Sale
EACH           47.916667   59.166667
PER BIN       185.845070  206.619718
SHELLACKED     16.000000   17.545455

In [46]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
pumpkin_variety = northeast.groupby('City Name').agg({'Variety': 'count'})
print(pumpkin_variety)

              Variety
City Name
BALTIMORE         151
BOSTON            352
NEW YORK          112
PHILADELPHIA       57

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [ ]:
# Try the bonus mission if you have time!