# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

In [1]:
# import pandas
import pandas as pd
# create your data variabe using .read_csv 
movie = pd.read_csv('IMDB-Movie-Data.csv')
# create your data_indexed variable here
movie_indexed = pd.read_csv('IMDB-Movie-Data.csv', index_col = 'Title')

In [26]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [2]:
# Read data with specified explicit index
# print(data)

movie_dataframe = pd.DataFrame(movie_indexed)
movie_title = pd.DataFrame(movie_dataframe)

# print(movie_dataframe)
print(movie_title)

                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy
...                       ...                       ...
Secret in Their Eyes      996       Crime,Drama,Mystery
Hostel: Part II           997                    Horror
Step Up 2: The Streets    998       Drama,Music,Romance
Search Party              999          Adventure,Comedy
Nine Lives               1000     Comedy,Family,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...
...                                                                    ...
Secret in Their Eyes     A tight-knit team of rising investigators, alo...
Hostel: Part II          Three American college students studying abroa...
Step Up 2: The Streets   Romantic sparks occur between two dance studen...
Search Party             A pair of friends embark on a mission to reuni...
Nine Lives               A stuffy businessman finds himself trapped ins...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer
...                                       ...
Secret in Their Eyes                Billy Ray
Hostel: Part II                      Eli Roth
Step Up 2: The Streets             Jon M. Chu
Search Party                   Scot Armstrong
Nine Lives                   Barry Sonnenfeld

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...
...                                                                    ...
Secret in Their Eyes     Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...
Hostel: Part II          Lauren German, Heather Matarazzo, Bijou Philli...
Step Up 2: The Streets   Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party             Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives               Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727
...                       ...                ...     ...     ...
Secret in Their Eyes     2015                111     6.2   27585
Hostel: Part II          2007                 94     5.5   73152
Step Up 2: The Streets   2008                 98     6.2   70699
Search Party             2014                 93     5.6    4881
Nine Lives               2016                 87     5.3   12435

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0
...                                     ...        ...
Secret in Their Eyes                    NaN       45.0
Hostel: Part II                       17.54       46.0
Step Up 2: The Streets                58.01       50.0
Search Party                            NaN       22.0
Nine Lives                            19.64       11.0

[1000 rows x 11 columns]

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [6]:
# Use the head() function to view the first 5 rows of the data set
# head returns all the data from the top number of rows(indeces) identified within the paraentheses of data available. 

print(movie_title.head(5))

                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0

In [7]:
# Use the tail() function to view the last 5 rows of the data set
# tail returns all the data from the bottom number of rows(indeces) identified within the paraentheses of data available. 

print(movie_title.tail(5))

                        Rank                  Genre  \
Title
Secret in Their Eyes     996    Crime,Drama,Mystery
Hostel: Part II          997                 Horror
Step Up 2: The Streets   998    Drama,Music,Romance
Search Party             999       Adventure,Comedy
Nine Lives              1000  Comedy,Family,Fantasy

                                                              Description  \
Title
Secret in Their Eyes    A tight-knit team of rising investigators, alo...
Hostel: Part II         Three American college students studying abroa...
Step Up 2: The Streets  Romantic sparks occur between two dance studen...
Search Party            A pair of friends embark on a mission to reuni...
Nine Lives              A stuffy businessman finds himself trapped ins...

                                Director  \
Title
Secret in Their Eyes           Billy Ray
Hostel: Part II                 Eli Roth
Step Up 2: The Streets        Jon M. Chu
Search Party              Scot Armstrong
Nine Lives              Barry Sonnenfeld

                                                                   Actors  \
Title
Secret in Their Eyes    Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...
Hostel: Part II         Lauren German, Heather Matarazzo, Bijou Philli...
Step Up 2: The Streets  Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party            Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives              Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

                        Year  Runtime (Minutes)  Rating  Votes  \
Title
Secret in Their Eyes    2015                111     6.2  27585
Hostel: Part II         2007                 94     5.5  73152
Step Up 2: The Streets  2008                 98     6.2  70699
Search Party            2014                 93     5.6   4881
Nine Lives              2016                 87     5.3  12435

                        Revenue (Millions)  Metascore
Title
Secret in Their Eyes                   NaN       45.0
Hostel: Part II                      17.54       46.0
Step Up 2: The Streets               58.01       50.0
Search Party                           NaN       22.0
Nine Lives                           19.64       11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [10]:
# The info() function: 
# privides a summary of the way the data is displayed and entered. It gives the types per series as well as how many values are in the
# different series and indices
movie_title.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [28]:
# shape:
movie_title.shape

# what information does shape provide?  what is the order?
# it's the number of rows first and then the number of columns in the data structure. It gives you an idea of the area or size or how the fully printed data frame would look.

(1000, 11)

In [29]:
# columns:
movie_title.columns


# what information does columns provide?
# columns lists the column labels or names included in the dataframe

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [11]:
# The describe() function: 
# provides summary stats for the whole dataframe
movie_title.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

### 4. Data Selection -- Indexing and Slicing

In [16]:
#  Extract data as series
genre = movie_title['Genre']
# define and print the variable 'genre'
print(genre)

Title
Guardians of the Galaxy     Action,Adventure,Sci-Fi
Prometheus                 Adventure,Mystery,Sci-Fi
Split                               Horror,Thriller
Sing                        Animation,Comedy,Family
Suicide Squad              Action,Adventure,Fantasy
                                     ...
Secret in Their Eyes            Crime,Drama,Mystery
Hostel: Part II                              Horror
Step Up 2: The Streets          Drama,Music,Romance
Search Party                       Adventure,Comedy
Nine Lives                    Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [18]:
# Extract the data as a dataframe and print it
genre_new = pd.DataFrame(genre)

print(genre_new)

                                            Genre
Title
Guardians of the Galaxy   Action,Adventure,Sci-Fi
Prometheus               Adventure,Mystery,Sci-Fi
Split                             Horror,Thriller
Sing                      Animation,Comedy,Family
Suicide Squad            Action,Adventure,Fantasy
...                                           ...
Secret in Their Eyes          Crime,Drama,Mystery
Hostel: Part II                            Horror
Step Up 2: The Streets        Drama,Music,Romance
Search Party                     Adventure,Comedy
Nine Lives                  Comedy,Family,Fantasy

[1000 rows x 1 columns]

In [32]:
# Extract data using rows
movie_rows = movie_title.loc['Sing']

# loc function
print(movie_rows)

Rank                                                                  4
Genre                                           Animation,Comedy,Family
Description           In a city of humanoid animals, a hustling thea...
Director                                           Christophe Lourdelet
Actors                Matthew McConaughey,Reese Witherspoon, Seth Ma...
Year                                                               2016
Runtime (Minutes)                                                   108
Rating                                                              7.2
Votes                                                             60545
Revenue (Millions)                                               270.32
Metascore                                                          59.0
Name: Sing, dtype: object

In [36]:
# iloc function
# Extract data using rows
movie_rows = movie_title.iloc[3]

print(movie_rows)

Rank                                                                  4
Genre                                           Animation,Comedy,Family
Description           In a city of humanoid animals, a hustling thea...
Director                                           Christophe Lourdelet
Actors                Matthew McConaughey,Reese Witherspoon, Seth Ma...
Year                                                               2016
Runtime (Minutes)                                                   108
Rating                                                              7.2
Votes                                                             60545
Revenue (Millions)                                               270.32
Metascore                                                          59.0
Name: Sing, dtype: object

### 5. Data Selection - Based on Conditional Filtering

In [7]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated a signifianct (top) revenue.
new_list = movie_title.loc[(movie_title['Year'] < 2016) & (movie_title['Year'] > 2010) & (movie_title['Rating'] < 6)]
nl = new_list.sort_values(by='Revenue (Millions)', ascending=False)
print(nl)

# & (movie_title[Rating] > 6) & (movie_title.sort_values(['Revenue (Millions)', ascending=False]))]

                                           Rank                    Genre  \
Title
The Twilight Saga: Breaking Dawn - Part 2   367  Adventure,Drama,Fantasy
The Twilight Saga: Breaking Dawn - Part 1   926  Adventure,Drama,Fantasy
Transformers: Age of Extinction             127  Action,Adventure,Sci-Fi
Teenage Mutant Ninja Turtles                658  Action,Adventure,Comedy
Fifty Shades of Grey                         64   Drama,Romance,Thriller
...                                         ...                      ...
The Ridiculous 6                            643           Comedy,Western
Final Girl                                  778          Action,Thriller
Man Down                                    825           Drama,Thriller
Wrecker                                     969   Action,Horror,Thriller
Search Party                                999         Adventure,Comedy

                                                                                 Description  \
Title
The Twilight Saga: Breaking Dawn - Part 2  After the birth of Renesmee, the Cullens gathe...
The Twilight Saga: Breaking Dawn - Part 1  The Quileutes close in on expecting parents Ed...
Transformers: Age of Extinction            Autobots must escape sight from a bounty hunte...
Teenage Mutant Ninja Turtles               When a kingpin threatens New York City, a grou...
Fifty Shades of Grey                       Literature student Anastasia Steele's life cha...
...                                                                                      ...
The Ridiculous 6                           An outlaw who was raised by Native Americans d...
Final Girl                                 A man teaches a young woman how to become a co...
Man Down                                   In a post-apocalyptic America, former U.S. Mar...
Wrecker                                    Best friends Emily and Lesley go on a road tri...
Search Party                               A pair of friends embark on a mission to reuni...

                                                     Director  \
Title
The Twilight Saga: Breaking Dawn - Part 2         Bill Condon
The Twilight Saga: Breaking Dawn - Part 1         Bill Condon
Transformers: Age of Extinction                   Michael Bay
Teenage Mutant Ninja Turtles               Jonathan Liebesman
Fifty Shades of Grey                       Sam Taylor-Johnson
...                                                       ...
The Ridiculous 6                                 Frank Coraci
Final Girl                                      Tyler Shields
Man Down                                         Dito Montiel
Wrecker                                        Micheal Bafaro
Search Party                                   Scot Armstrong

                                                                                      Actors  \
Title
The Twilight Saga: Breaking Dawn - Part 2  Kristen Stewart, Robert Pattinson, Taylor Laut...
The Twilight Saga: Breaking Dawn - Part 1  Kristen Stewart, Robert Pattinson, Taylor Laut...
Transformers: Age of Extinction            Mark Wahlberg, Nicola Peltz, Jack Reynor, Stan...
Teenage Mutant Ninja Turtles               Megan Fox, Will Arnett, William Fichtner, Noel...
Fifty Shades of Grey                       Dakota Johnson, Jamie Dornan, Jennifer Ehle,El...
...                                                                                      ...
The Ridiculous 6                           Adam Sandler, Terry Crews, Jorge Garcia, Taylo...
Final Girl                                 Abigail Breslin, Wes Bentley, Logan Huffman,Al...
Man Down                                   Shia LaBeouf, Jai Courtney, Gary Oldman, Kate ...
Wrecker                                    Anna Hutchison, Andrea Whitburn, Jennifer Koen...
Search Party                               Adam Pally, T.J. Miller, Thomas Middleditch,Sh...

                                           Year  Runtime (Minutes)  Rating  \
Title
The Twilight Saga: Breaking Dawn - Part 2  2012                115     5.5
The Twilight Saga: Breaking Dawn - Part 1  2011                117     4.9
Transformers: Age of Extinction            2014                165     5.7
Teenage Mutant Ninja Turtles               2014                101     5.9
Fifty Shades of Grey                       2015                125     4.1
...                                         ...                ...     ...
The Ridiculous 6                           2015                119     4.8
Final Girl                                 2015                 90     4.7
Man Down                                   2015                 90     5.8
Wrecker                                    2015                 83     3.5
Search Party                               2014                 93     5.6

                                            Votes  Revenue (Millions)  \
Title
The Twilight Saga: Breaking Dawn - Part 2  194329              292.30
The Twilight Saga: Breaking Dawn - Part 1  190244              281.28
Transformers: Age of Extinction            255483              245.43
Teenage Mutant Ninja Turtles               178527              190.87
Fifty Shades of Grey                       244474              166.15
...                                           ...                 ...
The Ridiculous 6                            31149                 NaN
Final Girl                                   9026                 NaN
Man Down                                     4779                 NaN
Wrecker                                      1210                 NaN
Search Party                                 4881                 NaN

                                           Metascore
Title
The Twilight Saga: Breaking Dawn - Part 2       52.0
The Twilight Saga: Breaking Dawn - Part 1       45.0
Transformers: Age of Extinction                 32.0
Teenage Mutant Ninja Turtles                    31.0
Fifty Shades of Grey                            46.0
...                                              ...
The Ridiculous 6                                18.0
Final Girl                                      56.0
Man Down                                        27.0
Wrecker                                         37.0
Search Party                                    22.0

[66 rows x 11 columns]

In [11]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
new_list = movie_title.loc[(movie_title['Year'] < 2016) & (movie_title['Year'] > 2007) & (movie_title['Rating'] < 6)]
nl = new_list.sort_values(by='Revenue (Millions)', ascending=False)

twilight = nl.isin(movie)
print(twilight)
#How specific can you get?

TypeError: 'DataFrame' object is not callable